# API_HOST can be either azure, ollama, openai, or github:
API_HOST=github
# Configure for Azure:

# Configure for Ollama:
OLLAMA_ENDPOINT=http://localhost:11434/v1
OLLAMA_MODEL=

GITHUB_MODEL=
GITHUB_TOKEN=
